body {
	background-color: rgba(0, 0, 0, 1);
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	color: white;
}
.mensaje {
	text-align: center;
	padding: 50px;
}

.mensaje h2 {
	font-size: 2rem;
	margin-bottom: 20px;
}

.mensaje p {
	font-size: 1.2rem;
	margin-bottom: 20px;
}

.mensaje a {
	display: inline-block;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out;
}

.mensaje a:hover {
	background-color: #3e8e41;
}
